<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if post %}
        <h1>{{ post.title }}</h1>
        <h3>{{ post.category.name }}</h3>
        
         <img
                            src="{{ post.image_url }}"
                            class="card-img-top"
                            alt="{{ post.title }}"
                            style="height: 650px; object-fit: cover;"
                        >
                        <p>{{ post.content }}</p>

                        <h1>Posted on {{ post.created_at|date:"F d, Y" }}</h1>

                        <div>
                            <h2>Related Posts</h2>
                            <ul>
                                {% for related in related_post %}
                                    <li>
                                        <a href="{% url 'myapp:post' related.slug %}">{{ related.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
    {% else %}
        <h1>Post not found</h1>
    {% endif %}
</body>
</html>